<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
  <meta name="format-detection" content="telephone=no, email=no">
  <!--<script src="/node_modules/lib-flexible/flexible.js"></script>-->
  <style>
    [v-cloak] {
      display: none;
    }
    .v-cloak--block, .v-cloak--inline, .v-cloak--inlineBlock {
      display: none;
    }
    html {
      width: 100%;
      height: 100%;
    }
    body {
      background: #F7F7F7;
      margin: 0;
      -webkit-appearance: none;
      width: 100%;
      height: 100%;
    }
  </style>

</head>
<body>
<app></app>
<!-- built files will be auto injected -->
</body>
<script>
  if ('addEventListener' in document) {
    document.addEventListener('DOMContentLoaded', function () {
      FastClick.attach(document.body)
    }, false)
  }
</script>
</html>
