@charset "UTF-8";
//px 2 rem
@function px2rem($n) {
  //10rem = 320px
  @return $n / 32 / 2 + rem;
}

* {
  /* 防止点击闪烁 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-touch-callout: none;

  /* 缩放网页，文字大小不变 */
  -webkit-text-size-adjust: none;
}

*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  min-height: 100vh;
  //background-color: $bg_1;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 24px;  /*px*/
}

[v-cloak] {
  display: none;
}

.v-cloak--block, .v-cloak--inline, .v-cloak--inlineBlock {
  display: none;
}

#qf-container {
  margin: 0 auto;
  width: 750px;
  max-width: 100%;
  min-height: 100%;
  min-height: 100vh;
  background-color: #F7F7F7;
}
// usual color
$g: #606470; //gary
$dg: #8A8C92; //dark gary
$o: #FF8100; //orange
$b: #2F323A; //black
$lg: #A7A9AE; //light gary

// fontSize
$f48 : 48px;
$f40 : 40px;
$f36 : 36px;
$f34 : 34px;
$f32 : 32px;
$f30 : 30px;
$f28 : 28px;
$f26 : 26px;
$f24 : 24px;
$f22 : 22px;
$f20 : 20px;
